@if (Cart != null)
{
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div style="height: 350px; overflow-y: scroll;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var line in Cart.Lines)
                                {
                                    <tr>
                                        <td>@line.Product.Name</td>
                                        <td>@line.Product.Price</td>
                                        <td>@line.Quantity</td>
                                        <td class="text-end">
                                            <button @onclick="() => OnRemoveProduct.InvokeAsync(line.Product)" class="btn btn-danger">Delete</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Quantity
        </div>
        <div class="col-md-6 text-end">
            @Cart.Quantity
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Tax
        </div>
        <div class="col-md-6 text-end">
            @Cart.Tax
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Total
        </div>
        <div class="col-md-6 text-end">
            @Cart.Total
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Discount (%)
        </div>
        <div class="col-md-6 text-end">
            @Cart.DiscountAmount
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Due
        </div>
        <div class="col-md-6 text-end">
            @Cart.Due
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ApplyDiscount CurrentDiscountAmount="Cart.DiscountAmount"
                       OnApplyDiscount="HandleApplyDiscount" />
        </div>
    </div>
}

@code {
    [Parameter] public Cart Cart { get; set; }
    [Parameter] public EventCallback<ProductViewModel> OnRemoveProduct { get; set; }

    public void HandleApplyDiscount(decimal discountAmount) =>
        Cart.DiscountAmount = discountAmount;
}